body {
	background-color: #b2a68e;
}
header {
	text-align: center;
}
.logo {
	height: 100px;
}
.poop-container {
	width: 500px;
	margin: 0 auto;
}

#theme {
    width: 80%;
    margin: 0 auto;
}

img {
    display: inline-block;
    vertical-align: top;
}

#poop {
	width: 100%;
}
#sad {
    position: absolute;
    top: 424px;
    margin-left: 152px;
}

#ville {

}

#ville2
